{% extends "base.html" %}
{% block content %}
    <!--necessary for the css-->
    <div class="div_to_make_pretty">
    </div>
    
    <!--container start-->
    <div class="registration-bg">
        <div class="container">
            <br>
             <form id="upload-notes-form" class="form-signin wow fadeInUp" enctype="multipart/form-data"  action="" method="POST">
            {% csrf_token %}
                <h2 class="form-signin-heading">Upload Notes</h2>
                <p> "F:" indicates the front of the flash card and "B:" indicates the back.</p>
                <div class="login-wrap">
                    {{ form.as_p }}
                    <input id="submit" class="btn btn-lg btn-login btn-block" type="submit" value="Upload" onclick="this.disabled=true;,$('#upload-notes-form').submit();">
                </div>
            </form> 
            <br>
        </div>
     </div>
     <!--container end-->
{% endblock %}