{% extends "base.html" %}
{% block content %}
    <!--necessary for the css-->
    <div class="div_to_make_pretty">
    </div>

    <!-- Main Container -->
    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <a data-toggle="modal" class="CreateNewCard" href="#CreateNewCard">
              <div class="CreateNewCard icon-wrap ico-bg round-five wow pulse" data-wow-duration="2s" data-wow-delay=".8s">
                <i class="fa fa-plus-circle CreateNewCard"></i>
              </div>
          </a>
          {% for card in card_list %}
          <div id={{card.card_id}} class="small_card">
    		<p> {{ card.front }} </p>
    	  </div>
    	  {% endfor %}
        </div>
      </div>
    </div>
    <!-- End Main Container -->

    <!-- New Card Modal -->
    <div aria-hidden="true" aria-labelledby="CreateNewCard" role="dialog" tabindex="-1" id="CreateNewCard" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create A New Card</h4>
          </div>
          <form id="make-card-form" method="POST" class="form-signin wow" action="" style="visibility: visible;"> {% csrf_token %}
          <div class="modal-body">
          	<!-- Check for error messages from bad form data -->
          	<p id="make-card-error"></p>
          	{{form}}
          </div>
          <div class="modal-footer">
            <button id="make-card-cancel" data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
            <button id="make-card-submit" class="btn btn-success" type="submit">Make Card!</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End Modal -->

{% endblock %}