<head>
</head>
<body>
	<!-- Check for error messages from bad form data -->
	{% if messages %}
		<ul class="messages">
  		{% for message in messages %}
  			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  		{% endfor %}
		</ul>
	{% endif %}
	
	<div class='login-div'>

		<h1 class='login-text'>Login</h1>
		

		<form method="post" action=""> {% csrf_token %}

		    <input type="text" name="username" placeholder="Username"/>
		    <br></br>
		    <input type="password" name="password" placeholder="Password"/>
		    <br></br>
		    <input type="submit" value="Login"/>
		    
		</form>

	</div>
	<a href="/accounts/signup">Sign Up </a>

</body>