<head>
  {% load staticfiles %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'user/styles.css' %}">
</head>
<body>
	<!-- Check for error messages from bad form data -->
	{% if messages %}
		<ul class="messages">
  		{% for message in messages %}
  			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  		{% endfor %}
		</ul>
	{% endif %}
	
	<div class='login-div'>

		<h1 class='login-text'>Login</h1>
		

		<form method="post" action=""> {% csrf_token %}

		    <input type="text" name="username" placeholder="Username"/>
		    <br></br>
		    <input type="password" name="password" placeholder="Password"/>
		    <br></br>
		    <input type="submit" value="Login"/>
		    
		</form>

	</div>
	<a href="/accounts/signup">Sign Up </a>
	<br>
	<a href="{% url 'reset_password_reset1' %}">Forgot your password ?</a>
  <!-- Latest compiled and minified JavaScript!!!!REQUIRES jQuery -->
  <!-- script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script -->
</body>
